.landing-page {
	color: #333;
}

.landing-page header {
	margin-bottom: 100px;
}

.landing-page header h1 {
	font-size: 60px;
}

.landing-page header h1:after {
	position: absolute;
	left: 50%;
	height: 4px;
	margin-left: -155px;
	margin-top: 90px;
	width: 300px;
	content: "";
	background: #303f9f;
}

.landing-page header h2 {
	font-size: 40px;
	padding: 30px;
}

.landing-page header span {
	color: #303f9f;
}

.landing-section {
	display: block;
	width: 100%;
	padding: 20px;
	margin: 100px auto;
	clear: both;
}

.landing-image {
	width: 45%;
	display: inline-block;
	margin: 0 auto;
}

.landing-image img {
	width: 100%;
}

.landing-text {
	width: 45%;
	display: inline-block;
	margin: 0 auto;
}

.landing-text i {
	display: block;
}

.landing-text p {
	font-size: 24px;
}

.landing-text ul {
	list-style: none;
	text-align: left;
	padding: 0;
}

.landing-text li {
	font-size: 32px;
	font-weight: bold;
	padding-top: 20px;
}

@media only screen and (max-width: 768px) {
	.landing-image,
	.landing-text {
		width: 100%;
		display: block;
		float: none;
		clear: both;
		margin-bottom: 20px;
	}

	.landing-image img {
		width: 100%;
	}

	.landing-text li {
		font-size: 24px;
		text-align: center;
	}

	.landing-text i {
		margin: 0 auto;
	}
}
